.btn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
  cursor: pointer;
  *margin-left: .3em;
}
.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  background-color: #e6e6e6;
}
.btn:active,
.btn.active {
  background-color: #cccccc \9;
}
.btn:first-child {
  *margin-left: 0;
}
.btn:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -ms-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.btn:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}
.btn.active,
.btn:active {
  background-image: none;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05);
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  outline: 0;
}
.btn.disabled,
.btn[disabled] {
  cursor: default;
  background-image: none;
  background-color: #e6e6e6;
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.btn-large {
  padding: 9px 14px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn-large [class^="icon-"] {
  margin-top: 1px;
}
.btn-small {
  padding: 5px 9px;
  font-size: 11px;
  line-height: 16px;
}
.btn-small [class^="icon-"] {
  margin-top: -1px;
}
.btn-mini {
  padding: 2px 6px;
  font-size: 11px;
  line-height: 14px;
}
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.btn-primary.active,
.btn-warning.active,
.btn-danger.active,
.btn-success.active,
.btn-info.active,
.btn-inverse.active {
  color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
  background-color: #f22d00;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -ms-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f22d00), to(#f89406));
  background-image: -webkit-linear-gradient(top, #f22d00, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(top, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fbb450', endColorstr='#f89406', GradientType=0);
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  filter: progid:dximagetransform.microsoft.gradient(enabled=false);
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #f89406;
}
.btn-primary:active,
.btn-primary.active {
  background-color: #004099 \9;
}

.btn-large {
  padding: 9px 26px;
  font-size: 15px;
  line-height: normal;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

/**分页样式**/
.ab-pagenavi {
    padding: 20px 0;
    text-align: right;
    
}

.ab-pagenavi .numbers {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    height: 20px;
    padding: 5px 10px;
    margin: 0;
    border-width: 1px 1px 1px 0;
    border-style: solid;
    border-color: #e6e9ed;
    line-height: 20px;
    vertical-align: middle;
    color: #656d78
}

.ab-pagenavi .numbers:first-child,.ab-pagenavi .numbers:last-child {
    padding-left: 20px;
    padding-right: 20px
}

.ab-pagenavi a.numbers:hover {
    text-decoration: none;
    background: #f5f7fa
}

.ab-pagenavi span.numbers {
    color: #ccd1d9
}

.ab-pagenavi span.current {
    color: #fff;
    background: #f84858
}

.ab-pagenavi .first {
    border-left-width: 1px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px
}

.ab-pagenavi .last {
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topright: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    border-bottom-right-radius: 5px
}

.ab-box {
    margin:6px 16px 4px;
    background: #fff;
    _zoom: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float:left;
}

.ab-box .hd {
    height: 50px;
    border-bottom: 1px solid #e6e9ed
}

.ab-box .hd .title {
    float: left;
    margin: 0;
    padding-left: 20px;
    font: 400 18px/50px arial,"Hiragino Sans GB","Microsoft YaHei",SimHei,sans-serif;
    color: #434a54
}

.ab-filter-list {
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 1.5
}

.ab-filter-list dt {
    float: left;
    clear: both;
    width: 72px;
    margin: 0 0 8px;
    padding: 3px 5px 3px 0;
    font-weight: 700;
    text-align: right;
    color: #434a54
}

.ab-filter-list dd {
    float: left;
    margin: 0;
    *margin: 0 0 8px;
    padding: 0;
    width:650px;
}

.ab-filter-list dd ul {
    float: left;
    margin: 0;
    padding: 0;
    list-style-type: none
}

.ab-filter-list dd li {
    float: left;
    _display: inline;
    margin: 0 0 10px;
    padding: 0 7px;
    background: url(http://p.www.xiaomi.com/zt/2013/filter-seperator.png) no-repeat 0 50%
}

.ab-filter-list dd li a {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    padding: 3px 10px;
    color: #434a54
}

.ab-filter-list dd li a:hover {
    color: #f84858
}

.ab-filter-list dd li.first {
    background: none
}

.ab-filter-list dd li.first a {
    padding: 3px 8px
}

.ab-filter-list dd li.current a {
    padding: 3px 9px;
    font-weight: 700;
    color: #fff;
    background: #aab2bd;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}

.ab-filter-list dd li.current a:hover {
    text-decoration: none
}

.ab-filter-list dd li .icon-order-ascending,.ab-filter-list dd li .icon-order-descending {
    position: relative;
    top: 1px;
    width: 12px;
    height: 12px;
    margin-right: 2px;
    *font-size: 0;
    background-image: url(http://p.www.xiaomi.com/zt/2013/icon-goods-list.png)
}

.ab-filter-list dd li .icon-order-ascending {
    background-position: 0 0
}

.ab-filter-list dd li .icon-order-descending {
    background-position: -12px 0
}

.ab-filter-list dd li.current .icon-order-ascending {
    background-position: 0 -12px
}

.ab-filter-list dd li.current .icon-order-descending {
    background-position: -12px -12px
}

.ab-filter-sub {
    float: right;
    font-size: 12px;
    line-height: 24px;
    _position: relative;
    _top: 2px
}

.ab-filter-sub .icon-common {
    position: relative;
    top: 3px;
    *top: 0;
    margin-right: 2px
}